BOT_TOKEN=your_telegram_bot_token
CHANNEL_CHAT_ID=@your_channel_username_or_chat_id
GROUP_CHAT_ID=@your_group_username_or_chat_id
BRAND_HANDLE=@yourgroup
DEFAULT_HASHTAGS=#IPL2026 #LiveScore #FantasyTips
CRICKET_API_KEY=your_cricapi_key
CRICKET_API_BASE_URL=https://api.cricapi.com/v1/currentMatches
TOURNAMENT_KEYWORDS=ipl,indian premier league
NEWS_RSS_URL=https://news.google.com/rss/search?q=IPL&hl=en-IN&gl=IN&ceid=IN:en
AUTO_UPDATE_ENABLED=true
AUTO_UPDATE_INTERVAL_SECONDS=900
